* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#landing-page {
    padding: 60px;
    background-color: royalblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    color: white;
}

.navbar-unordered-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navbar-unordered-list li {
    list-style: none;
}

.navbar-unordered-list li a {
    text-decoration: none;  
    color: white;           
    font-weight: 500;
}

.navbar-unordered-list li a:hover {
    color: #d1cbce;         
}

.purchase-button{
    border-radius: 100px;
    background-color: rgba(233, 58, 125, 1);
    border: none;
    width: 120px;
    height: 35px;
    color: white;
    font-size: medium;

}
.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    padding-top: 50px;
    color: white;
}

.sol-panel {
    display: flex;
    flex-direction: column;
    max-width: 471px;
    width: 100%;
    height: 600px;
}

.sol-panel h2 {
    font-weight: 700px;
    font-size: 58px;
    line-height: 70px;
    max-width: 467px;
    width: 100%;
}

.sol-panel h5 {
    font-weight: 500px;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0px;
    padding-top: 20px;
}

.sol-panel button {
    background-color: rgba(233, 58, 125, 1);
    border-radius: 100px;
    border: white;
    max-width: 173px;
    height: 50px;
    margin-top: 40px;

    color: white;
}

.sag-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 483px;
    width: 100%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    gap: 25px;
}

.sag-panel h3 {
    color: black;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
}

.sag-panel input {
    border-radius: 50px;
    border-style: solid;
    max-width: 339px;
    width: 100%;
    max-height: 50px;
    height: 100%;
}
.sag-panel input::placeholder {
    padding-left: 20px;
    color: rgba(21, 20, 57, 0.4);
}
.checkbox-container {
    margin-right: 75px;
}
.checkbox-container button {
    background-color: rgba(37, 218, 197, 1);
    border-radius: 6px;
    height: 24px;
    width: 24px;
}
.label-text {
    color: rgba(21, 20, 57, 0.4);
}

.sign-in-button {
    width: 339px;
    height: 50px;
    background-color: rgba(72, 43, 231, 1);
    border-radius: 100px;
    border: solid;

    color: white;
}

.divider {
    color: rgba(21, 20, 57, 0.4);
}

.login-via-twitter-button {
    width: 339px;
    height: 50px;
    background-color: rgba(29, 161, 242, 1);
    border-radius: 100px;
    border: solid;

    color: white;
}

.account {
    color: rgba(21, 20, 57, 0.4);
}

.sign-in {
    color: rgba(37, 218, 197, 1);
}
